
# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.*

# parcel-bundler cache (https://parceljs.org/)
.cache

#  build / generate output
dist

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# ide
.vscode
.idea
